<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/com1.css">

</head>
<body>
    <input type="image" src="/static/title1.jpg" style="width: 100%">

    <div align="center" >
        <form enctype="multipart/form-data" action="/uploadFile/" method="POST"  >
            <input type="text" >
            <input type="submit" value="上传"/>
            <input type="file" name="myfile" multiple = "multiple" />
        </form>
    </div>

</body>
</html>